<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Django AWS - EC2</title>

    <!-- Style dependencies -->
    <link href="https://unpkg.com/normalize.css@^7.0.0" rel="stylesheet" />
    <!-- Blueprint stylesheets -->
    <link
      href="https://unpkg.com/@blueprintjs/icons@^3.4.0/lib/css/blueprint-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/@blueprintjs/core@^3.10.0/lib/css/blueprint.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="bp3-navbar bp3-dark">
      <div style="margin: 0 auto; width: 480px;">
        <!-- ADD ME -->
        <div class="bp3-navbar-group bp3-align-left">
          <div class="bp3-navbar-heading">Django AWS On EC2</div>
        </div>
        <div class="bp3-navbar-group bp3-align-right">
          <button class="bp3-button bp3-minimal bp3-icon-home">Home</button>
          <button class="bp3-button bp3-minimal bp3-icon-document">
            Files
          </button>
          <span class="bp3-navbar-divider"></span>
          <button class="bp3-button bp3-minimal bp3-icon-user"></button>
          <button
            class="bp3-button bp3-minimal bp3-icon-notifications"
          ></button>
          <button class="bp3-button bp3-minimal bp3-icon-cog"></button>
        </div>
      </div>
    </nav>

    <div class="bp3-card bp3-elevation-3" style="margin: 10%;">
      We build products that make people better at their most important work.
    </div>

    <!-- Blueprint dependencies -->
    <script src="https://unpkg.com/classnames@^2.2"></script>
    <script src="https://unpkg.com/dom4@^1.8"></script>
    <script src="https://unpkg.com/tslib@^1.9.0"></script>
    <script src="https://unpkg.com/react@^16.2.0/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@^16.2.0/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/react-transition-group@^2.2.1/dist/react-transition-group.min.js"></script>
    <script src="https://unpkg.com/popper.js@^1.14.1/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/react-popper@^1.0.0/dist/index.umd.min.js"></script>
    <script src="https://unpkg.com/resize-observer-polyfill@^1.5.0"></script>
    <!-- Blueprint packages (note: icons script must come first) -->
    <script src="https://unpkg.com/@blueprintjs/icons@^3.4.0"></script>
    <script src="https://unpkg.com/@blueprintjs/core@^3.10.0"></script>

    <script></script>
  </body>
</html>
